.dream{
    background:#0d0d0d;
    padding:120px 8%;
}

.dream{
    border:1px solid #2b2b2b;
    border-radius:35px;

    text-align:center;

    background:
    radial-gradient(circle at top,#3d3414 0%,#1b1b1b 45%,#141414 100%);
}

.dream-subtitle{
    color:#D4AF37;
    text-transform:uppercase;
    letter-spacing:8px;
    font-size:.9rem;
    margin-bottom:30px;
}

.dream-title{
    font-size:5rem;
    color:#fff;
    font-weight:800;
    line-height:1.15;
    margin-bottom:35px;
}

.dream-title span{
    display:block;
    color:#D4AF37;
}

.dream-desc{
    max-width:760px;
    margin:auto;
    color:#b7b7b7;
    font-size:1.4rem;
    line-height:1.8;
    margin-bottom:60px;
}

.dream-btn{
    background:#D4AF37;
    color:#111;
    border:none;
    padding:18px 40px;
    border-radius:50px;

    display:inline-flex;
    align-items:center;
    gap:12px;

    font-size:1.1rem;
    font-weight:700;
    cursor:pointer;

    transition:.35s;
}

.dream-btn:hover{
    background:#fff;
    transform:translateY(-5px);
}

.dream-btn svg{
    transition:.35s;
}

.dream-btn:hover svg{
    transform:translateX(6px);
}
@media(max-width:992px){

    .dream-title{
        font-size:4rem;
    }

    .dream-desc{
        font-size:1.2rem;
    }

}

@media(max-width:768px){

    .dream{
        padding:90px 6%;
    }

    .dream-title{
        font-size:3rem;
    }

    .dream-desc{
        font-size:1rem;
    }

}

@media(max-width:480px){

    .dream-title{
        font-size:2.2rem;
    }

    .dream-subtitle{
        letter-spacing:4px;
        font-size:.8rem;
    }

    .dream-btn{
        width:100%;
        justify-content:center;
    }

}