*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{
    background:#0d0d0d;
    color:#fff;
    font-family:"Poppins",sans-serif;
}

img{
    max-width:100%;
    display:block;
}

a{
    text-decoration:none;
    color:inherit;
}

button{
    font-family:inherit;
}

.cars,.why-us,.voices,.experience ,.dream{
    padding:120px 8%;
}
